@font-face {
    font-family: 'Ringbearer';
    src: url('font/ringm__0-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('font/ringm__0-webfont.woff') format('woff'), 
	     url('font/ringm__0-webfont.ttf')  format('truetype'),
	     url('font/ringm__0-webfont.svg#svgFontName') format('svg');
}

html { 
    min-height: 100%;
}

body { 
    text-align: center; /* manya, con esto se centra el bloque body */
    background-image: -moz-linear-gradient(top, #E65116, #000000);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E65116), to(#000000));
    background-image: -webkit-linear-gradient(top, #E65116, #000000);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#E65116', EndColorStr='#000000', GradientType=0)		
}

#mainflash {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    padding: 0;
}

#enlaces {
    font-family: Ringbearer;
    position: relative;
    width: 960px;
    margin-top: -70px; /*fix fondo blanco en FF*/
    margin-left : auto;
    margin-right: auto;
    z-index: 1;
    
}

#enlaces ul {
    position: relative;
    text-align: left;
    font-size: 13px;
    width: 960px;
    padding: 8px;
    margin-top: -30px;
    height: 20px;
}

#enlaces li {
    width: auto;
    padding: 2px 10px;
    color: #F8F8F8;
    margin: 2px;
    display: inline;
    list-style: none;

}

#enlaces a {
	margin: auto;
	text-decoration: none;
    color: #F8F8F8;
}

#enlaces #relleno {
    background-color: transparent;
    padding: 0 30px;
    
}

.pequeno {
    font-size: 11px;
}